.form-container {
    display: flex;
}

.contact {
    text-decoration: underline;
}

.contact:hover {
    text-decoration: none;
}

.myName {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 430px;
}

button {
    border: none;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-top: 60px;
    padding: 0px 30px;
    
}

button:hover {
    text-decoration: underline;
}

body {
    background-color: #DCECE9;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    text-align: center;
}

.bigContainer {
    background-color: white;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 5px;
}

.container {
    margin-top: 100px;
}

.email {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-right: 100px;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
    margin-bottom: 20px;
}

.linkedin {
    height: 150px;
    width: 150px;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
    margin-bottom: 20px;
}

.handshake {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-right: 100px;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
    margin-bottom: 20px;
}

.github {
    height: 150px;
    width: 150px;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
    margin-bottom: 20px;
}

a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: black;
}

.emailcap {
    margin-left: 315px;
}

.linkedcap {
    margin-left: 90px;
}

.handcap {
    margin-left: 365px;
}

.gitcap {
    margin-left: 152px;
}

.botcap {
    margin-bottom: 100px;
}

.foot {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-left: 100px;
}