.form-container {
    display: flex;
}

.myName {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 420px;
}

.home {
    text-decoration: underline;
}

.home:hover {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-top: 60px;
    padding: 0px 30px;
}

button:hover {
    background-color: transparent;
    border: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-top: 60px;
    padding: 0px 30px;
    text-decoration: underline;
}

body {
    background-color: #DCECE9;
}

.hello {
    display: flex;
    margin-top: 200px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    margin-left: 85px;
}

.rectangle {
    width: 425px;
    height: 542px;
    transform: rotate(-160deg);
    background-color: #90BAB3;
    margin-left: 350px;
    border-radius: 5px;
}

.homeImg {
    object-fit: cover;
    width: 357px;
    height: 455px;
    transform: rotate(160deg);
    border-radius: 5px;
    margin-top: 42px;
    margin-left: 30px;
}

.horLine {
    width: 455px;
    height: 4px;
    background-color: black;
    border: black;
    margin-right: -8px;
    margin-top: 100px;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    text-align: left;
    margin-left: 950px;
    margin-top: 50px;
}

.foot {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-left: 100px;
    margin-top: 75px;
}