.form-container {
    display: flex;
}

.portfolio {
    text-decoration: underline;
}

.portfolio:hover {
    text-decoration: none;
}

.myName {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 430px;
}

button {
    border: none;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-top: 60px;
    padding: 0px 30px;
    
}

button:hover {
    text-decoration: underline;
}

body {
    background-color: #DCECE9;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    text-align: center;
}

.firstworks {
    margin-top: 60px;
}

.brewing {
    width: 585px;
    height: 308px;
    object-fit: cover;
    margin-left: 100px;
    margin-right: 75px;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
}

.market {
    width: 585px;
    height: 308px;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
    cursor: pointer;
}

.closet {
    width: 585px;
    height: 308px;
    object-fit: cover;
    margin-left: 100px;
    margin-right: 75px;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
    cursor: pointer;
}

.globe {
    width: 585px;
    height: 308px;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
    cursor: pointer;
}

.thai {
    width: 585px;
    height: 308px;
    object-fit: cover;
    margin-left: 100px;
    margin-right: 75px;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
    cursor: pointer;
}

.winery {
    width: 585px;
    height: 308px;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
    cursor: pointer;
}

.berry {
    width: 585px;
    height: 308px;
    object-fit: cover;
    margin-left: 100px;
    margin-right: 75px;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
    cursor: pointer;
}

.port {
    width: 585px;
    height: 308px;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem rgb(145 145 145));
}

.captions {
    display: flex;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.cap {
    margin-left: 260px;
    margin-bottom: 70px;
}

.cap2 {
    margin-left: 400px;
    margin-bottom: 70px;
}

.cap3 {
    margin-left: 190px;
    margin-bottom: 70px;
}

.cap4 {
    margin-left: 360px;
    margin-bottom: 70px;
}

.cap5 {
    margin-left: 280px;
    margin-bottom: 70px;
}

.cap6 {
    margin-left: 440px;
    margin-bottom: 70px;
}

.cap7 {
    margin-left: 280px;
    margin-bottom: 70px;
}

.cap8 {
    margin-left: 410px;
    margin-bottom: 70px;
}

.horLine {
    width: 1030px;
    height: 4px;
    background-color: black;
    border: black;
}

.classes {
    background-color: white;
    margin-right: 120px;
    margin-left: 120px;
    padding: 100px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.foot {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-left: 100px;
    margin-top: 100px;
}