.form-container {
    display: flex;
}

.resumeButton {
    text-decoration: underline;
}

.resumeButton:hover {
    text-decoration: none;
}

.myName {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 430px;
}

button {
    border: none;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-top: 60px;
    padding: 0px 30px;
    
}

button:hover {
    text-decoration: underline;
}

body {
    background-color: #DCECE9;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    text-align: center;
}

.click {
    margin-left: 120px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.download {
    text-decoration: none;
    color: black;
}

.download:active {
    text-decoration: none;
    color: black;
}

.resume {
    background-color: white;
    margin-right: 120px;
    margin-left: 120px;
    padding: 100px;
    height: 1150px;
}

.dates {
    display: flex;
}

.date1 {
    margin-left: 660px;
}

.date2 {
    margin-left: 335px;
}

.date3 {
    margin-left: 580px;
}

.date4 {
    margin-left: 355px;
}

.date5 {
    margin-left: 545px;
}

.date6 {
    margin-left: 510px;
}

.date7 {
    margin-left: 610px;
}

.date8 {
    margin-left: 500px;
}

.info {
    font-weight: 100;
}

.foot {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-left: 100px;
}